.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .image {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 200px;
        }
    }
}